/*h1 p body 要素の上下左右余白　０*/

h1 {
    margin: 0px;
    color: rgb(255,255,255);
}
p {
    margin: 0;
    font-size: 20px;
}

body {
    margin: 0;
}

a {
    font-size: 20px;
}

header {
    margin-bottom: 20px;
    background-color: rgb(244,79,79);
    text-align: center;
}

/*main 要素内*/
main {
    padding: 10px;
}

#parent {
    display: flex;
    justify-content: space-evenly;
}

.contents {
    border: solid 3px rgb(238,204,204);
    flex-basis: 25%;
    padding: 10px 15px 10px 15px;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

/*太さ3px、点線、色rgb(236, 122, 122)
h2要素の前に「●」記号を表示します。色はrgb(239, 111, 139)*/
h2::before {
    content: "●";
    color: rgb(239,111,139);
    
}
h2 {
    font-size: 25px;
    border-bottom: dotted 3px rgb(236,122,122);
}

.contents p:nth-of-type(2)::first-letter {
    color: rgb(97,206,249);
    font-weight: bold;
}

.contents img {
    margin: 10px 0px 10px 0px;
    width: 70%;
}
/*footerスタイル設定*/
footer {
    background-color: rgb(244,79,79);
    text-align: center;   
}

a {
    color: rgb(255,255,255);
}

a:hover {
    color: rgb(245,178,168);
}
a:visited {
    color: rgb(193,234,251);
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 25px;
    }
    #parent {
        display: block;
    }
}