/*ルート要素のフォントサイズ20px*/
html {
    font-size: 20px;
}

/*bodyのフォント指定　テキストを中央寄せにする*/
body {
    font-family: "Arial","Meiryo",sans-serif; 
    text-align: center; 
}
/*h1要素のフォントサイズをルート要素の２倍に指定、文字間1.2倍、下に実線、影をつける*/
h1 {
    font-size: 2rem;
    letter-spacing: 1.2em;
    border-bottom: solid 3px rgb(115, 115, 114);
    text-shadow: 1px 1px 2px gray;
}
/*h1のフォントを指定*/
.google-fonts {
    font-family: 'Noto Sans JP', sans-serif;
}

#basic p {
    font-weight: bold;
}

.text-skybule {
    color: skyblue;
}

.text-pink {
    color: rgb(255, 192, 203);
}

